/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Header */
header {
  padding: 10px 20px 30px 20px;
}

nav {
  padding: 15px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.bookiLogo {
    height: 20px;
    width: 70px;
}

/* Href */
.listHref {
    margin-top: -38px;
    margin-right: -20px;
    display: flex;
    column-gap: 60px;
    position: relative;
    flex-direction: row;
    list-style-type: none;
}

.href-link {
  color: #000; 
  text-decoration: none; 
  position: relative; 
  padding: 5px 10px; 
}

.href-link:hover {
  color: #007bff; 
  text-decoration: none; 
}

.href-link:hover::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 85%;
  height: 3px; 
  display: block;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: #007bff; 
  transition: all 0.3s ease;
}

.href-link.active {
  color: #007bff; 
  text-decoration: none; 
}

.href-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background-color: #007bff; 
}

/* Mission */
.mission {
    margin-top: -20px;
}

.mission p {
  margin-top: -10px;
}

/* Location */
.searchCity {
  display: flex;
  margin: 30px auto;
  align-items: center;
  flex-direction: row;
}

#btnLocation {
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  height: 40px; 
  width: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnLocation i {
  color: black;
  font-size: 1.3em;
}

#city {
  height: 40px;
  width: 200px;
  padding: 0 10px;
  border-radius: 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-left: none;
}

#btnSearch {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #0c5af5;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnSearch i {
  display: none;
}

.fa-location-dot {
  color: black;
  font-size: 1.3em;
}

/* Filter */
.filter {
  display: flex;
  margin-top: -5px;
  flex-direction: row;
  align-items: center; 
}

.filter .filt {
  font-size: 1.1em;
}

.listBtnFilters {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  margin-left: 15px;
}

.btnFilter {
  display: flex;
  flex-direction: row;
  align-items: center; 
  border-radius: 25px;
  border: 1px solid #d9d9d9; 
  padding: 10px 15px; 
  cursor: pointer; 
}

#btnEconomique:hover {
  background-color: #2df537;
}

#btnFamilial:hover {
  background-color: #f8e448;
}

#btnRomantique:hover {
    background-color: #f4341b;
}

#btnPepites:hover {
    background-color: #8cb6f6;
}

.btnFilter i {
  margin-right: 10px; 
}

.btnFilter span {
  font-size: 1.2em; 
  margin: 0; 
}

.fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
  font-size: 1.4em;
}

/* Info */
.info {
  display: flex;
  margin-top: 13px;
  column-gap: 10px;
  align-items: center;
  flex-direction: row;
}

#btnInfo {
  border: none;
  color: #fff;
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(198, 198, 198);
  background: transparent;
  cursor: pointer;
}

/* Main */
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  height: 640px;
  margin: 0 auto;
}

.hebergements .hebergements-title .section-title {
  margin-top: -10px;
  margin-bottom: 0px;
}

.hebergements-cards {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.hebergements-cards img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  max-width: 300px;
  border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
  padding: 5px;
  margin-top: -10px;
  margin-left: 4px;
  line-height: 14px;
  padding-bottom: 10px;
}

.hebergements-cards .card-content .card-rating {
  margin-top: -6px;
}

.hebergements-footer h4 {
  font-size: 1.1em;
  margin-top: 25px;
}

.hebergements-cards .card {
  width: 100%;
  max-width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires .populaires-title {
  margin-top: -8px;
}

.populaires-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards .card img {
    object-fit: cover;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activities {
  padding: 25px;
}

.activities h3 {
  margin-bottom: 20px;
}

.listPointKey {
  display: grid;
  padding: 10px;
  margin-top: 10px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center; 
}

.listPointKey .card {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listPointKey .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.listPointKey .card-body {
  flex-grow: 1; 
}

.listPointKey .card-body img {
  width: 100%;
  height: 380px; 
  object-fit: cover;
}

.listPointKey .card-footer {
  padding: 10px 0px 15px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listPointKey .card-footer h4 {
  font-size: 1.0em; 
  margin: 0;
  width: 100%;
  height: 1em; 
  display: flex;
  align-items: center;
}

/****** Footer ***********/
footer {
  height: 175px;
  bottom: -6%;
  left: 50%;
  margin-top: 15px;
  padding: 0px 15px;
  position: relative;
  border-radius: 3px 3px 0px 0px;
  transform: translate(-50%, -50%);
  background-color: darkgray;
}

.listFooter {
    width: 100%;
    display: flex;
    column-gap: 270px;
    flex-direction: row;
}

.listAbout, .listAccommodation, .listHelp {
  margin-top: -10px;
}

/* Media query pour rendre le footer responsive */
@media (max-width: 768px) {
    /* Footer */
  footer {
    height: 140px;
    margin-top: -25px;
  }

  .listFooter {
    column-gap: 40px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.9em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.8em;
  }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    padding: 0 10px;
  }

  /* Header */
  /* Href */
  .listHref {
    column-gap: 50px;
    margin-right: 5px;
  }

  /* Filter */
  .btnFilter span {
    font-size: 1.1em; 
    margin-top: -3px;
  }

  /* Hebergements */
  .hebergements-and-populaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hebergements {
    margin-right: 20px; 
  }

  .hebergements-cards {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }

  .hebergements-cards img {
    height: 130px;
  }

  .hebergements-cards .card-content .card-title {
    font-size: 0.9em;
  }

  /* Activités */
  .listPointKey .card-footer {
    padding: 10px 0px 15px 20px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.8em;
  }

  /* Footer */
  footer {
    height: 140px;
  }

  .listFooter {
    column-gap: 90px;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 10px;
  }

  /* Header */
  /* Href */
  .listHref {
    margin-top: -43px;
    column-gap: 30px;
    margin-right: -10px;
  }

  .listHref .href-link {
    font-size: 0.9em;
  }

  /* Mission */
  .mission h3 {
    font-size: 1.0em;
  }

  .mission p {
    font-size: 0.9em;
  }

  /* Location */
  #city {
    height: 38px;
    width: 80px;
  }

  #btnSearch {
    margin-top: -1px;
    height: 30px;
    padding: 20px 20px;
  }

  /* Filter */
  .filter {
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .filt {
    font-size: 1.2em;
  }

  .btnFilter h2 {
    margin-left: -2px;
    font-size: 1.0em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.3em;
  }

  /* Info */
  #btnInfo {
    width: 20px;
    height: 20px;
  }

  .fa-info {
    font-size: 0.8em;
  }

  .home {
    font-size: 0.8em;
  }

  /* Hébergements et Populaires */
  .hebergements-and-populaires {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }

  .hebergements-and-populaires section {
    padding: 30px;
  }

  /* Hebergements */
  .hebergements {
    width: 100%; 
    height: 518px;
    margin-top: -20px;
    max-width: 1000px;
    margin-bottom: 50px; 
  }

  .hebergements .section-title {
    font-size: 1.1em;
  }

  .hebergements-cards {
    gap: 30px; 
    margin-top: 20px;
  }

  .hebergements-cards .card {
    width: 100%;
    margin-bottom: -10px; 
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1 0 auto; 
  }

  .hebergements-cards img {
    width: 100%;
    height: 100px;
    max-width: 240px;
    object-fit: cover;
    border-radius: 20px 20px 0 0; 
  }

  .hebergements-cards .card-content .card-title {
    margin-top: 9px;
    font-size: 0.8em;
  }

  .hebergements-cards .card-content .card-subtitle {
    margin-top: -4px;
    font-size: 0.8em;
  }

  .hebergements-cards .card-content .card-rating {
    margin-bottom: -5px;
  }

  .hebergements-footer h4 {
    font-size: 1.0em;
    margin-top: 37px;
  }

  /* Populaires */
  .populaires .section-title {
    font-size: 1.1em;
  }

  .populaires {
    width: 100%; 
    height: 235px;
  }

  .populaires-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
  }

  .populaires-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    margin-top: 3px;
    max-width: 220px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 10px; 
  }

  .populaires-title {
    margin-top: -5px;
    margin-bottom: 15px; 
  }

  .populaires-cards .card img {
    height: 130px;
  }

  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 0.8em;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.8em;
  }

  .populaires-cards .card-rating {
    margin-bottom: 0px;
  }

  /* Activités */
  .activities {
    margin-top: -30px;
    padding: 45px;
  }

  .listPointKey {
    padding: 0px;
  }

  .listPointKey .card-body img {
    height: 190px;
  }

  .listPointKey .card-footer {
    padding: 15px 20px 20px 15px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.7em;
  }
}


/* Small device (Mobile, less than 425px) */
@media (max-width: 425px) {
  .main-container {
    padding: 0 0px;
  }
  
  /* Header */
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* Logo */
  .bookiLogo {
    height: 25px;
    width: 90px;
  }

  /* Href */
  .listHref {
    margin-top: 40px; 
    margin-left: -70px;
    column-gap: 50px;
    width: 100%; 
  }

  .href-item {
    width: 100%;
    font-size: 1.3em; 
  }

  .href-link {
    display: block;
    width: 100%;
    text-align: center; 
  }

  .href-link:hover::before {
    width: 120%;
    bottom: -140%;
  }

  /* Mission */
  .mission {
    margin-top: -45px;
  }

  .mission h3 {
    font-size: 1.6em;
  }

  .mission p {
    margin-top: -10px;
    font-size: 1.1em;
  }

  /* Location */
  #btnLocation {
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  #btnLocation .fa-location-dot {
    font-size: 1.6em;
  }

  #city {
    height: 47px;
    width: 260px;
  }

  #btnSearch {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 15px;
  }

  #btnSearch::after {
    content: "";
  }

  #btnSearch i {
    color: azure;
    font-size: 1.2em;
    display: inline-block;
  }

  #btnSearch span {
    display: none;
  }

  /* Filter */
  .filter {
    display: flex;
    flex-direction: column;
  }

  .listBtnFilters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    margin-left: 10px;
  }

  .btnFilter {
    width: 100%;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 15px;
  }

  .btnFilter span {
    font-size: 1.3em; 
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.6em;
  }

  /* Info */
  #btnInfo {
    width: 30px;
    height: 27px;
  }

  #btnInfo  .fa-info {
    font-size: 1.0em;
  }

  .home {
    font-size: 1.1em;
  }

  /* Hebergements et populaires */
  /* Populaires */
  .populaires {
    height: 580px;
    width: 100%; 
  }

  .populaires .section-title {
    font-size: 1.2em;
    margin-left: -10px;
  }

  .populaires-cards {
    display: grid;
    margin-left: -12px;
    grid-template-columns: 1fr;
    gap: 20px; 
  }
  .populaires-cards .card {
    max-width: 440px;
  }
  
  .populaires-cards .card img {
    height: 130px;
  }

  .populaires-cards .card-title {
    font-size: 1.0em;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.9em;
  }

  /* Hebergements */
  .hebergements {
    order: 2;
    height: 1320px;
    margin-top: 20px;
  }
  
  .hebergements .section-title {
    font-size: 1.2em;
    margin-left: -10px;
  }

  .hebergements-cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .hebergements-cards .card img {
    max-width: 360px;
  }

  .hebergements-cards .card-content .card-title {
    font-size: 1.0em;
  }

  .hebergements-footer {
    margin-top: -10px;
    margin-bottom: -30px;
  }

  .populaires {
    order: 1;
  }

  /* Activités */
  .activities {
    margin-top: -100px;
    margin-bottom: 60px;
  }

  .listPointKey {
    gap: 15px;
    grid-template-columns: 1fr;
  }

  .listPointKey .card-body img {
    height: 140px;
  }

  .listPointKey .card-footer {
    padding: 17px 0px 18px 20px;
  }

  .listPointKey .card-footer h4 {
    font-size: 1.0em;
  }

  /* Footer */
  footer {
    bottom: -5%;
    height: 420px;
    width: 100%;
    margin-bottom: -30px;
  }

  .listFooter {
    display: flex;
    padding: 0px 0px;
    margin-left: 10px;
    flex-direction: column;
  }

  .about, .accommodation, .help {
    margin-top: 0px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 1.1em
  }

  .listAbout, .listAccommodation, .listHelp {
    margin-top: -5px;
    line-height: 15px;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 1.0em;
  }
}

@media (max-width: 375px) {
  .main-container {
    padding: 0 0px;
  }
  
  /* Header */
  /* Logo */
  .bookiLogo {
    height: 25px;
    width: 90px;
    margin-left: 15px;
  }

  /* Href */
  .listHref {
    column-gap: 60px;
    margin-left: -70px;
  }

  .href-link:hover::before {
    width: 140%;
    bottom: -140%;
  }

  /* Mission */
  .mission h3 {
    font-size: 1.4em;
  }

  .mission p {
    margin-top: -10px;
    font-size: 1.0em;
  }

  /* Location */
  #btnLocation {
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  #btnLocation .fa-location-dot {
    font-size: 1.6em;
  }

  #city {
    height: 47px;
    width: 200px;
  }

  #btnSearch {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 15px;
  }

  #btnSearch::after {
    content: "";
  }

  #btnSearch i {
    color: azure;
    font-size: 1.2em;
    display: inline-block;
  }

  #btnSearch span {
    display: none;
  }

  /* Filter */
  .filter {
    display: flex;
    flex-direction: column;
  }

  .listBtnFilters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    margin-left: 0px;
  }

  .btnFilter {
    width: 100%;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 20px;
  }

  .btnFilter h2 {
    font-size: 1.0em; 
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.4em;
  }

  /* Info */
  #btnInfo {
    width: 30px;
    height: 27px;
  }

  #btnInfo  .fa-info {
    font-size: 0.9em;
  }

  .home {
    font-size: 0.9em;
  }

  /* Hebergements et populaires */
  /* Hebergements */
  .hebergements-cards .card {
    margin-left: -10px;
  }
}

@media (max-width: 320px) {
  .main-container {
    padding: 0 0px;
  }
  
  /* Header */
  /* Logo */
  .bookiLogo {
    height: 25px;
    width: 90px;
    margin-left: 15px;
  }

  /* Href */
  .listHref {
    column-gap: 40px;
    margin-left: -90px;
  }

  .href-link:hover::before {
    width: 130%;
    bottom: -140%;
  }

  /* Mission */
  .mission h3 {
    font-size: 1.1em;
  }

  .mission p {
    font-size: 0.9em;
  }

  /* Location */
  #btnLocation {
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  #btnLocation .fa-location-dot {
    font-size: 1.6em;
  }

  #city {
    height: 47px;
    width: 160px;
  }

  #btnSearch {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 15px;
  }

  #btnSearch i {
    color: azure;
    font-size: 1.2em;
    display: inline-block;
  }

  #btnSearch span {
    display: none;
  }

  /* Filter */
  .filter {
    display: flex;
    flex-direction: column;
  }

  .listBtnFilters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    margin-left: 0px;
  }

  .btnFilter {
    width: 100%;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 15px;
  }

  .btnFilter span {
    font-size: 1.0em; 
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.2em;
  }

  /* Info */
  #btnInfo {
    width: 30px;
    height: 27px;
  }

  .home {
    font-size: 0.9em;
  }

  /* Hebergements et populaires */
  /* Populaires */
  .populaires {
    margin-top: -10px;
  }

  .populaires .section-title {
    font-size: 1.0em;
  }

  .populaires-cards .card-title {
    font-size: 0.9em;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.9em;
  }

  /* Hebergements */
  .hebergements {
    height: 1310px;
  }

  .hebergements .section-title {
    font-size: 1.0em;
  }

  .hebergements-cards .card {
    margin-left: -10px;
  }

  .hebergements-cards .card-content .card-title {
    font-size: 0.9em;
  }

  /* Activités */
  .listPointKey .card-footer h4 {
    font-size: 0.8em;
  }

  /* Footer */
  footer {
     height: 390px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 1.0em
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.9em;
  }
}