/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Header */
header {
  padding: 10px 20px 30px 20px;
}

nav {
  padding: 15px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.bookiLogo {
    height: 20px;
    width: 70px;
}

/* Href */
.listHref {
    margin-top: -38px;
    margin-right: -40px;
    display: flex;
    column-gap: 60px;
    position: relative;
    flex-direction: row;
    list-style-type: none;
}

.href-link {
  color: #000; 
  text-decoration: none; 
  position: relative; 
  padding: 5px 10px; 
}

.href-link:hover {
  color: #007bff; 
  text-decoration: none; 
}

.href-link:hover::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 85%;
  height: 3px; 
  display: block;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: #007bff; 
  transition: all 0.3s ease;
}

.href-link.active {
  color: #007bff; 
  text-decoration: none; 
}

.href-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background-color: #0065FC; 
}

/* Mission */
.mission {
    margin-top: -20px;
}

.mission p {
  margin-top: -10px;
  font-size: 0.85em;
}

/* Location */
.searchCity {
  display: flex;
  margin: 30px auto;
  margin-left: 5px;
  align-items: center;
  flex-direction: row;
}

#btnLocation {
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  height: 40px; 
  width: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnLocation i {
  color: black;
  font-size: 1.3em;
}

#city {
  height: 37px;
  width: 150px;
  padding: 0 5px;
  border-radius: 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-left: none;
}

#btnSearch {
  height: 38px;
  padding: 0 15px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #0065FC;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnSearch i {
  display: none;
}

.fa-location-dot {
  color: black;
  font-size: 1.3em;
}

/* Filter */
.filter {
  display: flex;
  margin-top: -5px;
  flex-direction: row;
  align-items: center; 
}

.filter .filt {
  font-size: 1.1em;
}

.listBtnFilters {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  margin-left: 15px;
}

.btnFilter {
  display: flex;
  flex-direction: row;
  align-items: center; 
  border-radius: 25px;
  border: 1px solid #d9d9d9; 
  padding: 10px 15px; 
  cursor: pointer; 
}

#btnEconomique:hover {
  background-color: #DEEBFF;
}

#btnFamilial:hover {
  background-color: #DEEBFF;
}

#btnRomantique:hover {
    background-color: #DEEBFF;
}

#btnPepites:hover {
    background-color: #DEEBFF;
}

.btnFilter i {
  margin-right: 10px; 
}

.btnFilter span {
  font-size: 1.1em; 
  margin-top: -2px ;  
}

.fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
  font-size: 1.3em;
}

/* Info */
.info {
  display: flex;
  margin-top: 13px;
  column-gap: 10px;
  align-items: center;
  flex-direction: row;
}

#btnInfo {
  border: none;
  color: #fff;
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(198, 198, 198);
  background: transparent;
  cursor: pointer;
}

.fa-info {
  font-size: 0.8em;
}

.home {
  font-size: 0.87em;
  margin-left: 0px;
}

/* Main */
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  height: 595px;
  margin: 0 auto;
}

.hebergements .hebergements-title .section-title {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 1.4em;
}

.hebergements-cards {
  display: grid;
  margin-top: 30px;
  cursor: pointer;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.hebergements-cards img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  max-width: 300px;
  border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
  padding: 5px;
  margin-top: -13px;
  margin-left: 4px;
  line-height: 14px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.hebergements-cards .card .card-content .card-subtitle {
  margin-top: -6px;
  font-size: 0.9em;
}

.hebergements-cards .card-content .card-rating {
  margin-top: -2px;
  margin-left: 2px;
}

.hebergements-footer h4 {
  font-size: 1.1em;
  margin-top: 20px;
}

.hebergements-cards .card {
  width: 100%;
  max-width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 4px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards .card-content .card-rating .fa-star {
  font-size: 0.9em;
  margin-left: -3px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    height: 595px;
}

.populaires .populaires-title {
  margin-top: -8px;
}

.populaires .populaires-title .section-title {
  font-size: 1.4em;
}

.fa-chart-line {
  font-size: 1.2em;
}

.populaires-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards .card img {
    object-fit: cover;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 27px;
}

.populaires-cards img {
    width: 33%;
    height: 138px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.9em;
}

.populaires-cards .card-rating {
  font-size: 1.0em;
  margin-bottom: 5px;
  margin-left: 2px;
}

.populaires-cards .card-rating .fa-star {
  font-size: 0.9em;
  margin-left: -3px;
}

/****** Activités ***********/
.activities {
  padding: 45px;
  margin-top: -10px;
}

.activities h3 {
  margin-bottom: 30px;
}

.listPointKey {
  display: grid;
  padding: 0px;
  margin-top: 10px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center; 
}

.listPointKey .card {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listPointKey .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.listPointKey .card-body {
  flex-grow: 1; 
}

.listPointKey .card-body img {
  width: 100%;
  height: 380px; 
  object-fit: cover;
}

.listPointKey .card-footer {
  padding: 10px 0px 15px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listPointKey .card-footer h4 {
  font-size: 0.98em; 
  margin: 0;
  width: 100%;
  height: 1em; 
  display: flex;
  align-items: center;
}

/****** Footer ***********/
footer {
  height: 165px;
  bottom: -6%;
  left: 50%;
  width: 95%;
  margin-top: 15px;
  padding: 0px 15px;
  position: relative;
  border-radius: 3px 3px 0px 0px;
  transform: translate(-50%, -50%);
  background-color: #F2F2F2;
}

.listFooter {
    width: 100%;
    margin-top: -10px;
    display: flex;
    column-gap: 260px;
    flex-direction: row;
}

.about h4, .accommodation h4, .help h4 {
  margin-top: 13px;
  font-size: 1.10em;
}

.listAbout, .listAccommodation, .listHelp {
  margin-top: -7px;
}

.listAbout p, .listAccommodation p, .listHelp p {
  font-size: 1.0em;
}

/* Media query pour rendre le footer responsive */
@media (max-width: 768px) {
    /* Footer */
  footer {
    height: 140px;
    margin-top: -25px;
  }

  .listFooter {
    column-gap: 40px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.9em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.8em;
  }
}

@media (max-width: 1420px) {
  .listFooter {
    column-gap: 245px;
  }
}

@media (max-width: 1395px) {
  footer {
    height: 145px;
  }

  .listFooter {
    column-gap: 255px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 1.0em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.9em;
  }
}

@media (max-width: 1345px) {
  .listPointKey .card-footer h4 {
    font-size: 0.90em;
  }

  .listFooter {
    column-gap: 247px;
  }
}

@media (max-width: 1295px) {
  .listPointKey .card-footer h4 {
    font-size: 0.83em;
  }

  .listFooter {
    column-gap: 221px;
  }
}

@media (max-width: 1260px) {
  footer {
    height: 137px;
    bottom: -4%;
    margin-bottom: -12px;
  }

  .listFooter {
    column-gap: 222px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.90em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.85em;
  }
}

@media (max-width: 1225px) {
  .listFooter {
    column-gap: 216px;
  }
}

@media (max-width: 1220px) {
  .listPointKey .card-footer h4 {
    font-size: 0.75em;
  }

  .listFooter {
    column-gap: 201px;
  }
}

@media (max-width: 1190px) {
  .hebergements {
    height: 558px;
  }

  .hebergements .hebergements-title .section-title {
    font-size: 1.08em;
  }

  .hebergements-cards .card-content {
    margin-bottom: -4px;
  }

  .hebergements-cards .card .card-content .card-title {
    font-size: 0.8em;
  }

  .hebergements-cards .card .card-content .card-subtitle {
    font-size: 0.7em;
  }

  .hebergements-cards .card-content .card-rating .fa-star {
    font-size: 0.7em;
  }

  .hebergements-footer h4 {
    font-size: 0.9em;
  }

  .populaires {
    height: 558px;
  }

  .populaires .populaires-title .section-title {
    font-size: 1.08em;
  }

  .fa-chart-line {
    font-size: 1.0em;
  }

  .populaires-cards img {
    height: 127px;
  }

  .populaires-cards .card-content {
    margin-bottom: -2px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.8em;
  }

  .populaires-cards .card .card-content .card-subtitle {
    font-size: 0.7em;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.7em;
    margin-bottom: -15px;
  }
}

@media (max-width: 1165px) {
  .listPointKey .card-footer h4 {
    font-size: 0.73em;
  }

  .listFooter {
    column-gap: 196px;
  }
}

@media (max-width: 1145px) {
  .listFooter {
    column-gap: 184px;
  }
}

@media (max-width: 1090px) {
  .listPointKey .card-footer h4 {
    font-size: 0.70em;
  }

  footer {
    height: 129px;
  }

  .listFooter {
    column-gap: 175px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.85em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.80em;
  }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    padding: 0 10px;
  }

  /* Header */
  .bookiLogo {
    height: 15px;
    width: 50px;
  }

  /* Href */
  .listHref {
    column-gap: 30px;
    margin-top: -40px;
    margin-right: -22px;
  }

  .href-link {
    font-size: 0.8em;
  }
  
  /* Mission */
  .mission {
    margin-top: -24px
  }

  .mission h3 {
    font-size: 0.95em;
  }

  .mission p {
    font-size: 0.70em;
  }

  /* Location */
  .searchCity {
    margin-left: -1px;
  }

  #btnLocation {
    border: none;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    height: 35px; 
    width: 35px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #btnLocation i {
    font-size: 1.0em;
  }

  #city {
    height: 33px;
    width: 116px;
  }

  #btnSearch {
    height: 35px;
  }

  #btnSearch span {
    font-size: 0.9em;
  }

  /* Filters */
  .filter .filt {
    font-size: 0.95em;
  }

  .listBtnFilters {
    gap: 12px;
    margin-left: 11px;
  }

  .btnFilter {
    padding: 8px 12px;
  }

  .btnFilter span {
    font-size: 0.90em;
    margin-left: -1px;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.0em;
  }

  /* Info */
  #btnInfo {
    width: 18px;
    height: 18px;
  }

  .fa-info {
    font-size: 0.6em;
  }

  .home {
    margin-left: -2px;
    font-size: 0.70em;
  }

  /* Hebergements  Popularites */
  .hebergements-and-populaires {
    padding: 0px 20px 0px 20px;
  }
  /* HEBERGEMENTS */
  .hebergements {
    height: 440px;
  }

  .hebergements .hebergements-title .section-title {
    font-size: 0.95em;
  }

  .hebergements-cards img {
    height: 72px;
  }

  .hebergements .hebergements-cards {
    margin-top: 22px;
    gap: 30px;
  }

  .hebergements-cards .card .card-content .card-title {
    font-size: 0.7em;
  }

  .hebergements-cards .card .card-content .card-subtitle {
    font-size: 0.6em;
  }

  .hebergements-cards .card-content .card-rating  {
    margin-top: -5px;
  }

  .hebergements-cards .card-content .card-rating .fa-star {
    font-size: 0.6em;
  }

  .hebergements-footer h4 {
    font-size: 0.8em;
  }

  /* Populaires */
  .populaires {
    height: 440px;
  }

  .populaires .populaires-title .section-title {
    font-size: 0.95em;
  }

  .fa-chart-line {
    font-size: 0.9em;
  }

  .populaires-cards {
    margin: 0px -10px;
  }

  .populaires-cards .card {
    margin-top: 20px;
  }

  .populaires-cards img {
    height: 100px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.7em;
    margin-top: 5px;
  }

  .populaires-cards .card .card-content .card-subtitle {
    font-size: 0.6em;
  }

  .populaires-cards .card-rating {
    margin-bottom: 3px;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.6em;
    margin-bottom: -15px;
  }

  /* ACTIVITES */
  .activities {
    margin-top: -15px;
  }

  #activites {
    font-size: 0.95em;
  }

  .listPointKey {
    margin-top: -6px;
  }

  .listPointKey .card-body img {
    height: 250px; 
  }

  .listPointKey .card-footer h4 {
    font-size: 0.67em;
  }

  /* Footer */
  footer {
    height: 122px;
    bottom: -4%;
    width: 92%;
    margin-bottom: -18px;
  }

  .listFooter {
    column-gap: 178px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.85em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.75em;
  }
}

@media (max-width: 1000px) {
  .listFooter {
    column-gap: 168px;
  }
}

@media (max-width: 950px) {
  .listPointKey .card-footer h4 {
    font-size: 0.62em;
  }

  .listFooter {
    column-gap: 153px;
  }
}

@media (max-width: 925px) {
  .listFooter {
    column-gap: 149px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.80em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.75em;
  }
}

@media (max-width: 900px) {
  .listFooter {
    column-gap: 144px;
  }
}

@media (max-width: 886px) {
  .hebergements-cards .card .card-content .card-title {
    font-size: 0.7em;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.7em;
  }
}

@media (max-width: 878px) {
  .main-container {
    padding: 0 10px;
  }

  /* Header */
  /* Logo */
  .bookiLogo {
    height: 18px;
    width: 56px;
    margin-top: -15px;
  }

  /* Href */
  .listHref {
    margin-top: -29px;
    column-gap: 34px;
    margin-right: -14px;
  }

  .listHref .href-link {
    font-size: 0.8em;
  }

  /* Mission */
  .mission {
    margin-top: -24px;
  }

  .mission h3 {
    font-size: 1.2em;
  }

  .mission p {
    font-size: 0.88em;
  }

  /* Location */
  #btnSearch {
    margin-top: -1px;
    height: 30px;
    padding: 20px 20px;
  }

  #btnLocation {
    width: 38px;
    height: 38px;
  }

  #city {
    height: 36px;
    width: 166px;
  }

  #btnSearch {
    height: 37px;
    padding: 0px 15px;
  }

  #btnSearch span {
    font-size: 1.0em;
  }

  /* Filter */
  .filter {
    margin-top: -16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .filt {
    font-size: 1.0em;
  }

  .btnFilter {
    padding: 10px 15px;
  }

  .btnFilter span {
    margin-left: -1px;
    font-size: 1.1em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.4em;
  }

  /* Info */
  #btnInfo {
    width: 20px;
    height: 20px;
  }

  .fa-info {
    margin-top: -2px;
    font-size: 0.7em;
  }

  .home {
    font-size: 0.9em;
  }

  /* Hébergements et Populaires */
  .hebergements-and-populaires {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }

  .hebergements-and-populaires section {
    padding: 30px;
  }

  /* Hebergements */
  .hebergements {
    width: 100%; 
    height: 537px;
    margin-top: -20px;
    max-width: 1010px;
    margin-bottom: 50px; 
  }

  .hebergements .hebergements-title .section-title {
    font-size: 1.2em;
  }

  .hebergements-cards {
    gap: 30px; 
    margin-top: 20px;
  }

  .hebergements-cards .card {
    width: 100%;
    max-width: 220px;
    margin-bottom: -10px; 
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1 0 auto; 
  }

  .hebergements-cards img {
    width: 100%;
    height: 100px;
    max-width: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0; 
  }

  .hebergements-cards .card-content {
    padding: 8px 20px 10px 3px;
  }

  .hebergements-cards .card-content .card-txt .card-title {
    margin-top: 10px;
    font-size: 0.9em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    margin-top: -4px;
    font-size: 0.8em;
  }

  .hebergements-cards .card-content .card-rating {
    margin-bottom: 2px;
  }

  .hebergements-cards .card-content .card-rating .fa-star {
    font-size: 0.79em;
    margin-top: 7px;
  }

  .hebergements-footer h4 {
    font-size: 1.0em;
    margin-top: 38px;
  }

  /* Populaires */
  .populaires .populaires-title .fa-chart-line {
    font-size: 1.1em;
    margin-right: 0px;
  }

  .populaires .populaires-title .section-title {
    font-size: 1.2em;
    margin-left: -6px;
  }

  .populaires {
    width: 100%; 
    height: 228px;
  }

  .populaires-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
  }

  .populaires-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    margin-top: 3px;
    max-width: 228px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 10px; 
  }

  .populaires-title {
    margin-top: -5px;
    margin-bottom: 15px; 
  }

  .populaires-cards .card img {
    height: 130px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 0.83em;
  }

  .populaires-cards .card .card-content .card-txt .card-subtitle {
    font-size: 0.75em;
  }

  .populaires-cards .card .card-content .card-txt .card-rating {
    margin-bottom: 3px;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.7em;
    margin-bottom: -15px;
  }

  /* Activités */
  .activities {
    margin-top: -27px;
    padding: 45px;
  }

  #activites {
    font-size: 1.2em;
  }

  .listPointKey {
    padding: 0px;
    gap: 25px;
    margin-top: 20px;
  }

  .listPointKey .card-body img {
    height: 180px;
  }

  .listPointKey .card-footer {
    padding: 15px 20px 20px 15px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.8em;
  }

  /* Footer */
  footer {
    width: 90%;
    height: 120px;
    margin-top: 10px;
  }
}

@media (max-width: 842px) {
  .populaires-cards .card {
    max-width: 218px;
  }

  .listFooter {
    column-gap: 124px;
  }
}


@media (max-width: 800px) {
  .populaires-cards .card {
    max-width: 204px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.7em;
  }

  footer {
    width: 89%;
  }

  .listFooter {
    column-gap: 110px;
  }
}

@media (max-width: 768px) {
  /* Header */
  /* Logo */
  .bookiLogo {
    height: 18px;
    width: 56px;
    margin-top: -15px;
  }

  /* Href */
  .listHref {
    margin-top: -29px;
    column-gap: 30px;
    margin-right: -18px;
  }

  .listHref .href-link {
    font-size: 0.8em;
  }

  /* Mission */
  .mission {
    margin-top: -24px;
  }

  .mission h3 {
    font-size: 1.0em;
  }

  .mission p {
    font-size: 0.74em;
  }

  /* Location */
  #btnSearch {
    margin-top: -1px;
    height: 30px;
    padding: 20px 20px;
  }

  #btnLocation {
    width: 37px;
    height: 33px;
  }

  #btnLocation i {
    font-size: 0.95em;
  }

  #city {
    height: 30px;
    width: 133px;
    margin-top: 1px;
  }

  #btnSearch {
    height: 32px;
    margin-top: 1px;
    padding: 0px 12px;
  }

  #btnSearch span {
    font-size: 0.8em;
  }

  /* Filter */
  .filter {
    margin-top: -16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .filt {
    font-size: 0.95em;
  }

  .listBtnFilters {
    margin-left: 2px;
    margin-top: 5px;
  }

  .btnFilter {
    padding: 10px 12px;
  }

  .btnFilter span {
    margin-left: -1px;
    font-size: 0.90em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.2em;
  }

  /* Info */
  #btnInfo {
    width: 17px;
    height: 17px;
  }

  .fa-info {
    margin-top: -3px;
    font-size: 0.60em;
  }

  .home {
    font-size: 0.75em;
  }

  /* Hébergements et Populaires */
  .hebergements-and-populaires {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }

  .hebergements-and-populaires section {
    padding: 30px;
  }

  /* Hebergements */
  .hebergements {
    width: 100%; 
    height: 527px;
    margin-top: -20px;
    max-width: 1010px;
    margin-bottom: 50px; 
  }

  .hebergements .hebergements-title .section-title {
    font-size: 1.03em;
  }

  .hebergements-cards {
    gap: 30px; 
    margin-top: 20px;
  }

  .hebergements-cards .card {
    width: 100%;
    max-width: 220px;
    margin-bottom: -10px; 
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1 0 auto; 
  }

  .hebergements-cards img {
    width: 100%;
    height: 100px;
    max-width: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0; 
  }

  .hebergements-cards .card-content {
    padding: 8px 20px 10px 3px;
  }

  .hebergements-cards .card-content .card-txt .card-title {
    margin-top: 10px;
    font-size: 0.8em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    margin-top: -4px;
    font-size: 0.7em;
  }

  .hebergements-cards .card-content .card-rating {
    margin-bottom: 2px;
  }

  .hebergements-cards .card-content .card-rating .fa-star {
    font-size: 0.70em;
    margin-top: 7px;
  }

  .hebergements-footer h4 {
    font-size: 1.0em;
    margin-top: 38px;
  }

  /* Populaires */
  .populaires .populaires-title .fa-chart-line {
    font-size: 1.0em;
    margin-right: -5px;
  }

  .populaires .populaires-title .section-title {
    font-size: 1.05em;
    margin-left: -6px;
  }

  .populaires {
    width: 100%; 
    height: 228px;
    margin-top: -5px;
  }

  .populaires-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
  }

  .populaires-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    margin-top: 3px;
    max-width: 195px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 10px; 
  }

  .populaires-title {
    margin-top: -5px;
    margin-bottom: 15px; 
  }

  .populaires-cards .card img {
    height: 130px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 0.73em;
  }

  .populaires-cards .card .card-content .card-txt .card-subtitle {
    font-size: 0.67em;
  }

  .populaires-cards .card .card-content .card-txt .card-rating {
    margin-bottom: 3px;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.7em;
    margin-bottom: -15px;
  }

  /* Activités */
  .activities {
    margin-top: -29px;
    padding: 45px;
  }

  #activites {
    font-size: 1.05em;
  }

  .listPointKey {
    padding: 0px;
    margin-top: -5px;
  }

  .listPointKey .card-body img {
    height: 180px;
  }

  .listPointKey .card-footer {
    padding: 15px 20px 20px 15px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.7em;
  }

  /* Footer */
  footer {
    width: 90%;
    height: 120px;
    margin-top: 5px;
  }

  .listFooter {
    column-gap: 102px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.8em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.7em;
  }
}

@media (max-width: 735px) {
  .populaires-cards .card {
    max-width: 185px;
  }

  .listFooter {
    column-gap: 96px;
  }
}


@media (max-width: 700px) {
  .listHref {
    column-gap: 30px;
    margin-right: -20px;
  }

  .href-link {
    font-size: 0.6em;
  }

  /* Hebergements & Popularites */
  /* Hebergements */
  .hebergements {
    height: 518px;
  }

  .hebergements-cards .card-content .card-txt .card-title {
    font-size: 0.70em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    font-size: 0.62em;
  }

  .hebergements-footer h4 {
    font-size: 0.90em;
  }

  /* Populaires */
  .populaires-cards .card {
    max-width: 171px;
  }

  /* Footer */
  .listFooter {
    column-gap: 76px;
  }
}

@media (max-width: 670px) {
  .listHref {
    column-gap: 13px;
    margin-right: -20px;
  }

  .href-link {
    font-size: 0.5em;
  }

  .populaires-cards .card {
    max-width: 163px;
  }

  /* ACTIVITES */
  .listPointKey .card-footer h4 {
    font-size: 0.60em;
  }

  .listFooter {
    column-gap: 68px;
  }
}

@media (max-width: 637px) {
  /* Header */
  /* Href */
  .listHref {
    column-gap: 13px;
    margin-right: -20px;
  }

  .href-link {
    font-size: 0.5em;
  }

  /* Hebergements & Popularites */
  /* Hebergements */
  .hebergements {
    height: 498px;
  }

  .hebergements .hebergements-title .section-title {
    font-size: 0.89em;
  }

  .hebergements-cards .card-content .card-txt .card-title {
    font-size: 0.65em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    font-size: 0.58em;
  }

  .hebergements-cards .card .card-rating .fa-star {
    font-size: 0.6em;
  }

  .hebergements-footer h4 {
    margin-top: 32px;
    font-size: 0.82em;
  }

  /* Popularites */
  .populaires {
    height: 220px;
    margin-top: -10px;
  }

  .populaires .populaires-title .section-title {
    font-size: 0.89em;
  }

  .populaires-cards .card {
    max-width: 153px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.7em;
  }

  .populaires-cards .card .card-content .card-subtitle {
    font-size: 0.65em;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.6em;
    margin-bottom: -15px;
  }

  /* ACTIVITES */
  .activities {
    margin-top: -30px;
  }

  #activites {
    font-size: 0.89em;
  }

  .listPointKey .card-body img {
    height: 160px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.60em;
  }

  /* Footer */
  footer {
    height: 110px;
  }

  .listFooter {
    column-gap: 68px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.75em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.65em;
  }
}

@media (max-width: 610px) {
  /* Header */
  /* Href */
  .listHref {
    column-gap: 13px;
    margin-right: -20px;
  }

  .href-link {
    font-size: 0.5em;
  }

  /* Hebergements & Popularites */
  /* Hebergements */
  .hebergements-cards .card-content .card-txt .card-title {
    font-size: 0.56em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    font-size: 0.53em;
  }

  .hebergements-cards .card .card-rating .fa-star {
    font-size: 0.57em;
  }

  .hebergements-footer h4 {
    margin-top: 32px;
    font-size: 0.82em;
  }

  /* Popularites */
  .populaires {
    height: 220px;
    margin-top: -10px;
  }

  .populaires .populaires-title .section-title {
    font-size: 0.89em;
  }

  .populaires-cards .card {
    max-width: 142px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.64em;
  }

  .populaires-cards .card .card-content .card-subtitle {
    font-size: 0.53em;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.57em;
  }

  /* Footer */
  footer {
    height: 102px;
  }

  .listFooter {
    column-gap: 63px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 0.70em;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.62em;
  }
}

@media (max-width: 567px) {
  .btnFilter span {
    font-size: 0.8em;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.55em;
  }

  footer {
    width: 85%;
  }

  .listFooter {
    column-gap: 50px;
  }
}

@media (max-width: 564px) {
  .hebergements-cards .card .card-content .card-title {
    font-size: 0.55em;
  }

  .populaires-cards {
    margin-left: -15px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.55em;
  }

  .populaires-cards .card .card-content .card-txt .card-subtitle {
    font-size: 0.6em;
  }
}

@media (max-width: 559px) {
  .hebergements {
    height: 495px;
  }

  .hebergements-cards .card .card-content .card-title {
    font-size: 0.50em;
  }
}

@media (max-width: 539px) {
  .btnFilter span {
    font-size: 0.70em;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.50em;
  }

  .listFooter {
    column-gap: 40px;
  }
}

/* Small device (Mobile, less than 425px) */
@media (max-width: 533px) {
  .main-container {
    padding: 0 0px;
  }
  
  /* Header */
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* Logo */
  .bookiLogo {
    height: 22px;
    width: 78px;
    margin-right: -12px;
  }

  /* Href */
  .listHref {
    margin-top: 40px; 
    margin-left: -70px;
    column-gap: 75px;
    width: 100%; 
  }

  .href-item {
    width: 100%;
    font-size: 1.3em; 
  }

  .href-link {
    display: block;
    width: 100%;
    text-align: center; 
  }

  .href-link:hover::before {
    width: 121%;
    bottom: -140%;
  }

  /* Mission */
  .mission {
    margin-top: -45px;
  }

  .mission h3 {
    font-size: 1.6em;
  }

  .mission p {
    margin-top: -10px;
    font-size: 1.1em;
  }

  /* Location */
  #btnLocation {
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  #btnLocation .fa-location-dot {
    font-size: 1.4em;
  }

  #city {
    height: 47px;
    width: 370px;
  }

  #btnSearch {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 15px;
  }

  #btnSearch::after {
    content: "";
  }

  #btnSearch i {
    color: azure;
    font-size: 1.2em;
    display: inline-block;
  }

  #btnSearch span {
    display: none;
  }

  /* Filter */
  .filter {
    display: flex;
    flex-direction: column;
  }

  .listBtnFilters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    margin-left: 10px;
  }

  .btnFilter {
    width: 100%;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 15px;
  }

  .btnFilter span {
    font-size: 1.2em; 
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.5em;
  }

  /* Info */
  #btnInfo {
    width: 30px;
    height: 27px;
  }

  #btnInfo  .fa-info {
    font-size: 1.0em;
  }

  .home {
    font-size: 1.0em;
  }

  /* Hebergements et populaires */
  /* Populaires */
  .populaires {
    height: 580px;
    width: 100%; 
  }

  .populaires .populaires-title .section-title {
    font-size: 1.30em;
  }

  .populaires-cards {
    display: grid;
    margin-left: -12px;
    grid-template-columns: 1fr;
    gap: 20px; 
  }

  .populaires-cards .card {
    max-width: 425px;
  }
  
  .populaires-cards .card img {
    height: 130px;
  }

  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.9em;
  }

  .populaires-cards .card .card-content .card-txt .card-subtitle {
    font-size: 0.8em;
  }

  .populaires-cards .card-rating .fa-star {
    font-size: 0.8em;
  }

  /* Hebergements */
  .hebergements {
    order: 2;
    height: 1740px;
    margin-top: 20px;
  }
  
  .hebergements .hebergements-title .section-title {
    font-size: 1.30em;
    margin-left: -10px;
  }

  .hebergements-cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .hebergements-cards .card {
    max-width: 760px;
    margin-left: -5px;
  }

  .hebergements-cards .card img {
    height: 160px;
    max-width: 460px;
  }

  .hebergements-cards .card-content .card-txt .card-title {
    font-size: 1.0em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    font-size: 0.9em;
  }

  .hebergements-cards .card-content .card-rating .fa-star {
    font-size: 0.7em;
  }

  .hebergements-footer {
    margin-top: 10px;
    margin-bottom: -30px;
  }

  .hebergements-footer h4 {
    font-size: 1.0em;
  }

  .populaires {
    order: 1;
  }

  /* Activités */
  .activities {
    margin-top: -70px;
    margin-bottom: 60px;
  }

  #activites {
    font-size: 1.30em;
  }

  .listPointKey {
    gap: 15px;
    grid-template-columns: 1fr;
  }

  .listPointKey .card-body img {
    height: 140px;
  }

  .listPointKey .card-footer {
    padding: 17px 0px 18px 20px;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.98em;
  }

  /* Footer */
  footer {
    padding-top: 26px;
    bottom: -4.2%;
    height: 380px;
    width: 100%;
    margin-bottom: -60px;
  }

  .listFooter {
    display: flex;
    padding: 0px 0px;
    margin-left: 10px;
    flex-direction: column;
  }

  .about, .accommodation, .help {
    margin-top: 0px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 1.1em
  }

  .listAbout, .listAccommodation, .listHelp {
    margin-top: -5px;
    line-height: 15px;
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 1.0em;
  }
}

@media (max-width: 525px) {
  .populaires-cards .card {
    max-width: 420px;
  }
}

@media (max-width: 505px) {
  .populaires-cards .card {
    max-width: 395px;
  }
}

@media (max-width: 500px) {
  #city {
    width: 350px;
  }

  .populaires-cards .card {
    max-width: 395px;
  }
}

@media (max-width: 483px) {
  #city {
    width: 330px;
  }

  .populaires-cards .card {
    max-width: 375px;
  }
}

@media (max-width: 465px) {
  #city {
    width: 320px;
  }

  .populaires-cards .card {
    max-width: 359px;
  }
}

@media (max-width: 457px) {
  #city {
    width: 310px;
  }

  .populaires-cards .card {
    max-width: 349px;
  }
}


@media (max-width: 437px) {
  .href-link:hover::before {
    width: 119%;
    bottom: -140%;
  }

  #city {
    width: 280px;
  }

  .populaires-cards .card {
    max-width: 319px;
  }
}

@media (max-width: 418px) {
  .href-link:hover::before {
    width: 121%;
    bottom: -140%;
  }

  #city {
    width: 270px;
  }

  .populaires-cards .card {
    max-width: 319px;
  }
}

@media (max-width: 405px) {
  .populaires-cards .card {
    max-width: 294px;
  }
}

@media (max-width: 400px) {
  .populaires-cards .card {
    max-width: 299px;
  }
}

@media (max-width: 398px) {
  .href-link:hover::before {
    width: 124%;
    bottom: -140%;
  }

  #city {
    width: 250px;
  }

  .populaires-cards .card {
    max-width: 289px;
  }
}

@media (max-width: 393px) {
  .href-link:hover::before {
    width: 125%;
    bottom: -140%;
  }

  .btnFilter span {
    font-size: 1.1em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.4em;
  }

  .mission h3 {
    font-size: 1.4em;
  }

  .mission p {
    font-size: 1.2em;
  }

  #city {
    width: 240px;
  }

  #btnInfo {
    width: 27px;
    height: 24px;
  }

  #btnInfo .fa-info {
    margin-top: 0px;
    font-size: 0.9em;
  }

  .home {
    font-size: 0.9em;
  }

  .populaires-cards .card {
    max-width: 292px;
  }
}

@media (max-width: 380px) {
  .main-container {
    padding: 0 0px;
  }
  
  .bookiLogo {
    margin-left: 10px;
  }

  .href-link:hover::before {
    width: 124%;
    bottom: -140%;
  }

  .mission {
    margin-left: 5px;
  }

  .mission h3 {
    font-size: 1.4em;
  }

  .mission p {
    margin-top: -10px;
    font-size: 1.0em;
  }

  .searchCity {
    margin-left: 4px;
  }

  #btnLocation {
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  #btnLocation .fa-location-dot {
    font-size: 1.4em;
  }

  #city {
    width: 230px;
  }

  #btnSearch {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 15px;
  }

  #btnSearch::after {
    content: "";
  }

  #btnSearch i {
    color: azure;
    font-size: 1.2em;
    display: inline-block;
  }

  #btnSearch span {
    display: none;
  }

  .populaires-cards .card {
    max-width: 276px;
  }
}

@media (max-width: 373px) {
  .bookiLogo {
    margin-left: 10px;
  }

  .href-link:hover::before {
    width: 130%;
    bottom: -140%;
  }

  #city {
    width: 223px;
  }

  .btnFilter span {
    font-size: 1.0em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.3em;
  }

  .populaires {
    margin-top: -9px;
  }

  .populaires-cards .card {
    max-width: 272px;
  }

  .activities {
    margin-right: -15px;
  }
}

@media (max-width: 369px) {
  .hebergements {
    height: 1397px;
  }

  .activities {
    margin-top: -85px;
    margin-right: 0px;
  }
}

@media (max-width: 367px) {
  .main-container {
    padding: 0 0px;
  }
  
  .bookiLogo {
    margin-left: 10px;
  }

  .href-link:hover::before {
    width: 132%;
    bottom: -140%;
  }

  .populaires-cards .card {
    max-width: 276px;
  }

  .activities {
    margin-right: -15px;
  }
}

@media (max-width: 357px) {
  .href-link:hover::before {
    width: 134%;
    bottom: -140%;
  }

  #city {
    width: 208px;
  }

  .mission h3 {
    font-size: 1.2em;
  }

  .mission p {
    font-size: 0.9em;
  }

  .btnFilter span {
    font-size: 0.92em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.2em;
  }

  .populaires-cards .card {
    max-width: 255px;
  }
}

@media (max-width: 347px) {
  .href-link:hover::before {
    width: 122%;
  }

  #city {
    width: 197px;
  }

  .populaires {
    margin-right: -35px;
  }

  .populaires-cards .card {
    max-width: 241px;
  }
}

@media (max-width: 342px) {
  .listHref {
    margin-left: -75px;
  }

  .href-link:hover::before {
    width: 120%;
  }
}

@media (max-width: 340px) {
  .btnFilter span {
    font-size: 0.88em;
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.2em;
  }

  .listPointKey .card-footer h4 {
    font-size: 0.90em;
  }
}

@media (max-width: 339px) {
  .listHref {
    margin-left: -95px;
  }

  #city {
    width: 165px;
  }

  .href-link:hover::before {
    width: 132%;
  }
}

@media (max-width: 337px) {
  #city {
    width: 168px;
  }

  .populaires-cards .card {
    max-width: 231px;
  }
}

@media (max-width: 335px) {
  #city {
    width: 160px;
  }

  .populaires-cards .card {
    max-width: 231px;
  }

  .href-link:hover::before {
    width: 127%;
  }
}

@media (max-width: 334px) {
  .btnFilter span {
    font-size: 0.75em;
  }
}

@media (max-width: 328px) {
  .href-link:hover::before {
    width: 118%;
  }

  .populaires-cards .card {
    max-width: 221px;
  }
}

@media (max-width: 325px) {
  .populaires-cards .card .card-content .card-txt .card-title {
    font-size: 0.9em;
  }

  .populaires-cards .card .card-content .card-subtitle {
    font-size: 0.85em;
  }

  .hebergements-cards .card-content .card-txt .card-title {
    font-size: 0.9em;
  }

  .hebergements-cards .card-content .card-txt .card-subtitle {
    font-size: 0.85em;
  }
  
  .listPointKey .card-footer h4 {
    font-size: 0.82em;
  }
}

@media (max-width: 324px) {
  .href-link:hover::before {
    width: 110%;
  }
}

@media (max-width: 322px) {
  .href-link:hover::before {
    width: 109%;
  }
}

@media (max-width: 320px) {
  .href-link:hover::before {
    width: 108%;
  }
}

@media (max-width: 320px) {
  .main-container {
    padding: 0 0px;
  }
  
  /* Header */
  /* Logo */
  .bookiLogo {
    height: 25px;
    width: 90px;
    margin-left: 15px;
  }

  /* Href */
  .listHref {
    column-gap: 40px;
    margin-left: -90px;
  }

  .href-link:hover::before {
    width: 130%;
    bottom: -140%;
  }

  /* Mission */
  .mission h3 {
    font-size: 1.1em;
  }

  .mission p {
    font-size: 0.9em;
  }

  /* Location */
  #btnLocation {
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  #btnLocation .fa-location-dot {
    font-size: 1.6em;
  }

  #city {
    height: 47px;
    width: 160px;
  }

  #btnSearch {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: -10px;
    border-radius: 15px;
  }

  #btnSearch i {
    color: azure;
    font-size: 1.2em;
    display: inline-block;
  }

  #btnSearch span {
    display: none;
  }

  /* Filter */
  .filter {
    display: flex;
    flex-direction: column;
  }

  .listBtnFilters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    margin-left: 0px;
  }

  .btnFilter {
    width: 100%;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 15px;
  }

  .btnFilter span {
    font-size: 1.0em; 
  }

  .fa-heart, .fa-money-bill-wave, .fa-person, .fa-fire {
    font-size: 1.2em;
  }

  /* Info */
  #btnInfo {
    width: 30px;
    height: 27px;
  }

  .home {
    font-size: 0.9em;
  }

  /* Hebergements et populaires */
  /* Populaires */
  .populaires {
    margin-top: -10px;
  }

  .populaires .section-title {
    font-size: 1.0em;
  }

  .populaires-cards .card-title {
    font-size: 0.9em;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.9em;
  }

  /* Hebergements */
  .hebergements {
    height: 1310px;
  }

  .hebergements .section-title {
    font-size: 1.0em;
  }

  .hebergements-cards .card {
    margin-left: -10px;
  }

  .hebergements-cards .card-content .card-title {
    font-size: 0.9em;
  }

  /* Activités */
  .listPointKey .card-footer h4 {
    font-size: 0.8em;
  }

  /* Footer */
  footer {
     height: 390px;
  }

  .about h4, .accommodation h4, .help h4 {
    font-size: 1.0em
  }

  .listAbout p, .listAccommodation p, .listHelp p {
    font-size: 0.9em;
  }
}